@font-face {
	font-family:preferencesFont;
	src: url('../fonts/MankSans.ttf');
}
.preferencesWindow {
    width: 275px;
    position: fixed;
    right:5px; top:5px;
    z-index:1;
    padding: 10px;
    text-align:right;
}
.options {
    font-family:preferencesFont;
    font-size:16px;
    background: #ababab;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    height: 375px;
}
.option {
    width:60px;
    float:right;
}

/* align right */
.right {
    position: absolute;
    right: 15px;
}