<div ng-controller="PreferencesCtrl">
    <link rel="stylesheet" href="css/preferences.css">

    <div class="preferencesWindow">

            <button type="button" class="btn btn-default btn-xs" ng-click="showPreferences=!showPreferences">
                <span class="glyphicon glyphicon-cog"></span>
            </button>

            <div ng-show="showPreferences" class="options">

                <!-- Show/hide preferences -->
                Hide                                <input class="right" type="checkbox" ng-model="tempUserPrefs.hideInfo" ng-change="submit()">
                <br>Show health reports             <input class="right" type="checkbox" ng-model="tempUserPrefs.showHealthReports" ng-change="submit()">
                <br>Show number of builds           <input class="right" type="checkbox" ng-model="tempUserPrefs.showNumberOfBuilds" ng-change="submit()">
                <br>Show last completed build       <input class="right" type="checkbox" ng-model="tempUserPrefs.showLastCompletedBuild" ng-change="submit()">
                <br>Show last stable build          <input class="right" type="checkbox" ng-model="tempUserPrefs.showLastStableBuild" ng-change="submit()">
                <br>Show last failed build          <input class="right" type="checkbox" ng-model="tempUserPrefs.showLastFailedBuild" ng-change="submit()">
                <br>Show last successful build      <input class="right" type="checkbox" ng-model="tempUserPrefs.showLastSuccessfulBuild" ng-change="submit()">
                <br>Show last unstable build        <input class="right" type="checkbox" ng-model="tempUserPrefs.showLastUnstableBuild" ng-change="submit()">
                <br>Show last unsuccessful build    <input class="right" type="checkbox" ng-model="tempUserPrefs.showLastUnsuccessfulBuild" ng-change="submit()">

                <!-- Select font -->
                <br>Font size                       <select class="form-control option" ng-model="tempUserPrefs.fontSize" ng-change="submit()">
                                                        <option>s</option>
                                                        <option>m</option>
                                                        <option>l</option>
                                                    </select>


                <!-- Select health report image size -->
                <br><br>Health report image size    <select class="form-control option" ng-model="tempUserPrefs.HRSize" ng-change="submit()">
                                                        <option>s</option>
                                                        <option>m</option>
                                                        <option>l</option>
                                                    </select>


                <!-- Select amount of boxes inline -->
                <br><br>Boxes inline                <select class="form-control option" ng-model="tempUserPrefs.boxesInline" ng-change="submit()">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>6</option>
                                                        <option>12</option>
                                                    </select>


                <!-- Give exact box height for all boxes -->
                <br><br>Box height                  <input type="text" class="form-control option" ng-model="tempUserPrefs.boxHeight" ng-change="submit()">

            </div>

    </div>
</div>